body {
	font-face: Gill Sans, Verdana, Sans;
}

h1 {
	color: #0068b4;
}

div {
	border-width: 1px;
	border-style: solid;
	border-color: #0068b4;
	padding: 2.5em;
	margin-bottom: 20px;
	text-align: justify;
	border-radius: 15px;
	-moz-border-radius: 15px;
}

a {
	color: #0068b4;
	text-decoration: none;
}

div#material_container {
	margin-top: 10px;
	visibility: collapse;
}

div.imprint {
	border: none;
	text-align: center;
	font-size: .8em;
	color: grey;
}

.textarea {
	border: 1px solid lightgrey;
	color: #0068b4;
	font-family: monospace;
}

.button {
	border: 1px solid #0068b4;
	background-color: #FFFFFF;
	color: #0068b4;
}

/*for the fancy jquery_ui tabs*/
.material_container,.material_container dt,.material_container dd,.material_container ul,.material_container li
	{
	margin: 0;
	padding: 0
}

.material_container {
	float: left;
	width: 170px;
	font-size: 1.3em;
}

.material_container dt,.material_container h4 {
	margin: 0;
	padding: 0;
	font: normal 1.1em "Trebuchet MS", "Helvetica", "Arial", "Verdana",
		"sans-serif";
	color: #e87b10;
}

.material_container dt,.material_container h4 {
	margin-top: 1.5em;
	margin-bottom: 0;
	padding-left: 8px;
	padding-bottom: 5px;
	line-height: 1.2em;
	border-bottom: 1px solid #F4F4F4;
}

.material_container dd a,.material_container li a {
	border-bottom: 1px solid #F4F4F4;
	display: block;
	padding: 4px 3px 4px 8px;
	font-size: 90%;
	text-decoration: none;
	color: #555;
	margin: 2px 0;
	height: 13px;
}

.material_container dd a:hover,.material_container dd a:focus,.material_container dd a:hover,.material_container dd a:focus
	{
	background: #f3f3f3;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.material_container dd a.selected {
	background: #555;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#demo-config-menu li.material-config-on {
	background: url(images/material-config-on-tile.gif) repeat-x left center;
}

#demo-config-menu li.material-config-on a:link,#demo-config-menu li.material-config-on
a:visited,#demo-config-menu li.material-config-on a:hover,#demo-config-menu
li.material-config-on a:active {
	background: url(images/material-config-on.gif) no-repeat left;
	padding-left: 18px;
	color: #fff;
	border: 0;
	margin-left: -10px;
	margin-top: 0px;
	margin-bottom: 0px;
}